/*
            The below code is for DEMO purpose --- Use it if you are using this demo otherwise Remove it
        */
.page-title {
    float: none;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
    padding-right: 15px;
    border-right: 1px solid #bfc9d4;
    margin-right: 15px;
}
.page-title h3 {
    margin-bottom: 0;
}
.page-header {
    display: flex;
    padding: 0;
    margin-bottom: 16px;
    margin-top: 30px
}
.breadcrumb-one {
    display: inline-block;
    align-self: center;
}
.breadcrumb-one .breadcrumb {
    padding: 0;
    vertical-align: text-bottom;
    margin-bottom: 0;
    background: transparent;
}
.breadcrumb-one .breadcrumb-item {
    align-self: center;
}
.breadcrumb-one .breadcrumb-item a {
    color: #888ea8;
    vertical-align: text-bottom;
}
.breadcrumb-one .breadcrumb-item a svg {
    width: 20px;
    height: 20px;
    vertical-align: sub;
}
.breadcrumb-one .breadcrumb-item.active a {
    color: #1b55e2;
}
.breadcrumb-one .breadcrumb-item span {
    vertical-align: text-bottom;
}
.breadcrumb-one .breadcrumb-item.active {
    color: #1b55e2;
    font-weight: 600;
}
.breadcrumb-one .breadcrumb-item+.breadcrumb-item {
    padding: 0px;
}
.breadcrumb-one .breadcrumb-item+.breadcrumb-item::before {
    color: #515365;
    font-size: 0;
    content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 24 24" fill="none" stroke="%23555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>');
    vertical-align: text-top;
    padding: 0 6px;
}


@media(max-width: 575px) {
    .page-header {
        display: block;
    }
    .page-title {
        margin-bottom: 20px;
        border: none;
        padding-right: 0;
        margin-right: 0;
    }
}


/*
    Just for demo purpose ---- Remove it.
*/
/*<starter kit design>*/

.widget-one {

}
.widget-one h6 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-bottom: 22px;
}
.widget-one p {
    font-size: 15px;
    margin-bottom: 0;
}

#formValidate .wizard > .content {min-height: 25em;}

#example-vertical.wizard > .content {min-height: 24.5em;}

/*</starter kit design>*/

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
}

.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #8dbf42
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #8dbf42;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}
